@model MinhaPaginaViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
<h1>Seus produtos financeiros</h1>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Rendimento Porcentual</th>
            <th>Valor Aplicado</th>
            <th>Total Atual</th>
            <th>Data de Aplicação</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.Lista1)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.Rendimento</td>
                    <td>@item.ValorAplicado</td>
                    <td>@item.ValorAtual</td>
                    <td>@item.DataAplica</td>
                </tr>
            }
    </tbody>
</table>
</body>
</html>